function search_history {
  local selected=$(HISTTIMEFORMAT= history | cut -c 8- | peco --query "$READLINE_LINE")
  if [ -n "$selected" ]; then
    READLINE_LINE="$selected"
    READLINE_POINT=${#selected}
    history -s "$selected"
  fi
}
bind -x '"\C-r": search_history'

